.about {
  
  &__container {
    display: flex;
    min-height: 50vh;
    margin-top: $gutter-sm;
  }
  &__image {
    flex: 1;
    background-image: url(../images/background/bg12.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
  &__content {
    flex: 1;
  }
  &__content {
    display: flex;
    &-wrap {
      margin: auto;
      padding: 2.5%
    }
  }
}
