.cover {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/background/bg9.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  &__content {
    @extend .text-center;
    max-width: $content-width;
    margin: auto;
    height: auto;
    padding-top: 5em;
    padding-bottom: 2em;
    @media (min-width: 768px) {
      padding-top: 10em;
    }
  }
  &__logo {
    //margin-top: 170px;
  }
  &__links {
    margin-bottom: 40px;
  }
}
