.qualifications {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/background/bg1.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $white !important;
  .fa {
    font-size: 2.7em;
    margin-bottom: .35em;
    @media (min-width: 991px) {
      font-size: 3.5em;
    }
  }

  &__container {
    margin-top: $gutter-sm;
    @media (min-width: 991px) {
      display: flex;
      justify-content: space-around;
    }

  }
  &__list {
    padding: 0;
    list-style: none;
    li {
      padding: 3px 0;
      font-weight: bold;
      font-size: 1em;
      @media (min-width: 991px) {
        font-size: 1.1em;
      }

    }
  }
}
