.quote {
  padding: 8em 2.5%;
  background-image: url(../images/background/bg15.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  &__container {
    @extend .text-center;
    max-width: $content-width;
  }

}
