.reviews {
  background: $black;
  &__item {
    display: flex !important;
    min-height: 50vh;
  }
  &__image {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__content {
    color: $white;
    flex: 1;
    margin: auto;
    &-wrap {
      padding: 2.5%;
    }
  }
}
