.reviews {
  background: $white;
  &__slider {
    margin-top: $gutter-sm;
  }
  .slick-list {
    display: flex;
  }
  &__item {
    padding: 0 20px;
    border-right: 1px solid #666;
    &:last-of-type {
      border-right: none;
    }
  }
  &__image {

  }
  &__content {

    &-wrap {

    }
  }
}
