.reviews {
  background: $white;
  &__slider {
    margin-top: $gutter-sm;
  }
  &__item {
    padding: 0 20px;

    &:last-of-type {
      border-right: none;
    }
  }
  &__content {
    font-style: italic;
    margin-top: 1em;
    color: #838383;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
