.slick-dots {
    position: unset;
}

.slick-dots li {
  width: auto;
}


.slick-active {
  font-weight: bold;
}


.services {
  padding-top: $gutter;
  background: $white;
  &__navbar {
    @extend .text-center;
    padding-bottom: 2em;
    &__item {
      text-transform: uppercase;
      text-decoration: underline;
      font-family: $font-family-primary;
      font-size: 1.4em;
      color: $black;
    }
    li {
      display: block;
      padding: 5px 0;
      @media (min-width: 768px) {
        display: inline-block;
      }
      .slick-active {
        font-weight: bold;
      }
    }

  }
  position: relative;
  &__item {
    display: flex !important;
    min-height: 50vh;
    background: $black;

  }
  &__image {
    display: none;
    @media (min-width: 768px) {
      display: block;
      flex: 1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

  }
  &__content {
    color: $white;
    flex: 1;
    display: flex;
    @media (min-width: 768px) {
      background: $black;
    }

    &-wrap {
      padding: 2.5%;
      margin: auto;
      z-index: 99999;
      text-align: center;
      width: 75%;
    }
  }

  &__link {
    margin-top: 40px;
  }
}
