.button {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .8em 2em;
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.35s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 1em;
  font-family: $font-family-primary;


  &__primary {
    @extend .button;
    color: $white;
    background: $color-primary;
    &:hover {
      color: $white;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
      background: transparent;
      border: 1px solid $white;
    }
  }
  &__secondary {
    @extend .button;
    color: $black;
    background: $white;
    &:hover {
      color: $white;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
      background: transparent;
      border: 1px solid $white;

    }
  }
}
