body, html {
  overflow-x: hidden;
}

body {
  font-family:  'Merriweather', serif;
  color: $text-color-primary;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
}


img {
  max-width: 100%;
}

.lead {
  font-size: 1em;
  line-height: 1.5;
  @media (min-width: 991px) {
    font-size: 1.2em;
    line-height: 1.5;
  }
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  &__feature {
    @extend .title;
    color: $white;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.3em;
    @media (min-width: 768px) {
      font-size: 3.5em;
      line-height: 1.2;
    }
    @media (min-width: 991px) {
      font-size: 5em;
      line-height: 1.2;
    }

  }
  &__main {
    @extend .title;
    text-transform: uppercase;
    color: $black;
    margin: 0;
    font-size: 3em;
    @media (min-width: 991px) {
      font-size: 4em;
    }
    &-white {
      @extend .title__main;
      color: $white;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    }
    &-small {
      @extend .title__main-white;
      font-size: 2em;
      line-height: 1.2;
      @media (min-width: 991px) {
        font-size: 3em;
      }

    }
    &-sm_black {
      @extend .title__main;
      font-size: 2em;
    }
  }
  &__tag {
    @extend .title;
    color: $text-color-primary;
    margin: 0;
    margin-top: 20px;
    font-family: $font-family-tags;
    font-weight: 100;
    font-style: italic;
    font-size: 1.2em;
    @media (min-width: 991px) {
      font-size: 1.6em;
    }
    &-white {
      @extend .title__tag;
      color: $white;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    }
  }
  &__quote {
    @extend .title;
    text-transform: uppercase;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    color: $white;
    margin-bottom: 1em;
    font-size: 2em;
    line-height: 1.2em;
    @media (min-width: 991px) {
      font-size: 3em;
    }
  }
}

.gutter {
  @extend .text-center;
  padding: $gutter 2.5%;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.hr {
    position: relative;
    text-align: center;
    border-top: 3px solid #d9d9d9;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 390px;
    width: 80%;
    @media (min-width: 991px) {
      width: 40%;
    }
    &-fa {
        position: absolute;
        top: -13px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .fa.fa-tree {
        background: $white;
        padding: 0 20px;
        font-size: 25px;
        color: $color-secondary;
    }
}
