//
// Variables
// --------------------------------------------------

//== Colors



$white: #fff;
$black: #000;
$grey: #666;
$green: #196F2A;

$color-primary: $black;
$color-secondary: $green;

//== Text Colours
$text-color-primary: $grey;
$text-color-secondary: $white;
$text-color-header: $color-primary;


$gutter: 5em;
$gutter-sm: 3em;

//== Background Colours
$background-primary: $color-primary;
$background-secondary: $white;

$content-width-lg: 1024px;
$content-width: 960px;

//== Fonts

$font-family-primary:    'Oswald', sans-serif;
$font-family-secondary:  'Merriweather', serif;
$font-family-tags:       'Oswald', sans-serif;




    //
    // font-family: 'Patua One', cursive;
    //
    // font-family: 'Dosis', sans-serif;
    //
    // font-family: 'Anton', sans-serif;
    //
    // font-family: 'Lobster', cursive;

    // font-family: 'Condiment', cursive;
