//
// Variables
// --------------------------------------------------

//== Colors

$white: #fff;
$black: #000;

$color-primary: $black;
$color-secondary: $white;

//== Text Colours
$text-color-primary: $color-primary;
$text-color-secondary: $color-secondary;
$text-color-header: $color-primary;


$gutter: 5em;

//== Background Colours
$background-primary: $color-primary;
$background-secondary: $color-secondary;

$content-width-lg: 1024px;
$content-width: 960px;

//== Fonts
$font-family-primary: 'Oswald', sans-serif;
$font-family-secondary: 'Merriweather', serif;
